body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2em;
}

.site-header {
  text-transform: uppercase;
  border-top: 5px solid #333;
  border-bottom: 1px solid #f0f0f0;
  line-height: 45px;
}

.container {
  margin: 0 auto;
  max-width: 38rem;
}

.site-logo {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #111;
}

.site-logo:hover {
  text-decoration: underline;
}

.site-nav {
  float: right;
}

.site-nav a {
  color: #111111;
  padding: 10px;
}

.site-nav a:hover {
  text-decoration: underline;
}

.site-hero {
  position: relative;
  height: 30vh;
  background-position: 8cm;
}

.site-intro {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1em auto;
  max-width: 40rem;
  color: #fff;
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: 100;
}

.site-posts {
  padding-left: 0;
  margin-bottom: 5rem;
}

.site-posts li {
  margin-bottom: 10px;
  list-style-type: none;
}

.site-posts li div {
  padding: 5px 0;
  font-size: 1.1em;
  color: blue;
}

.post-year {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4em;
}

.post-meta {
  float: right;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #AAA;
  line-height: 24px;
  margin-bottom: 0;
}

.site-post {
  margin: 2rem auto;
  max-width: 768px;
}

.post-date {
  color: #777;
  font-weight: 700;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.post-title {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.post-link {
  color: #0074D9;
  border-bottom: 2px solid rgba(0, 116, 217, 0.19);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease
}

.post-link:hover {
  border-bottom: 2px solid #0074D9;
}

@media only screen and (max-width: 767px) {
  img {
    max-width: 92vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  img {
    max-width: 92vw;
  }
}

@media only screen and (min-width: 1025px) {
  img {
    max-width: 768px;
  }
}

@media print{
  body{
    max-width: none;
  }
}

@media (max-width: 40rem) {
  html { font-size: 90%; }
  .site-header { padding: 0 1em; }
  .site-hero { height: 50vh; }
  .site-intro { padding: 0 1em; }
  .container { padding: 0 1em; }
  .site-posts span {
    display: block;
    float: none;
  }
  .site-post { padding: 0 1em; }
}
